body{
  background-color: black;
  font-size: 1.5rem;
}

.container{
  background-color: #4090d0;
}

#name{
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.col{
  text-align: center;
}

#bf{
  font-size: 2rem;
  margin-bottom: 1rem;
  border: solid black 2px;
  border-radius: 10px;
}

#lenyeg{
  font-size: 6rem;
  color: red;
  font-weight: bold;
}

img{
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

@media (min-width: 992px){
.container{
  margin-top: 5rem;
}
}